// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a:hover {
  text-decoration: none;
  color:#ffffff;
}

button:focus {
	outline:0;
}

.app {
  height: 100vh;

  @media (min-width: 1024px) {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px;
    margin: 0px auto;
    height: 100%;
    width: 60vw;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;

  > .MuiInputBase-root {
    margin-bottom: 10px;
  }

  > input {
    text-align: center;
  }
}

.header {
  @media (min-width: 1024px) {
    width: 60vw;
  }

  z-index: 1;
  position: fixed;
  width: 100vw;

  &__container {
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    color:#ffffff;
  }
}

.main {
  padding-top: 80px;
  padding-bottom: 60px;
  overflow: scroll;

  @media (min-width: 1024px) {
    margin: 0 auto;
    width: 60vw;
    height: 100vh;
    background-color: #ffffff;
  }
}


.state {
  margin: 0 auto;
  background-color: white;
  text-align: center;
  width: 200px;
  padding: 10px;
  border-radius: 30px;
  color: #ffffff;
  background-color: #a8dfd9;
  margin-bottom: 15px;

  > h1 {
    margin: 0;
  }
}

.todo {
  text-align: center;
  margin-bottom: 10px;

  &__container {
    border-radius: 10%;
    margin: 0 auto;
    width: 90vw;

    @media (min-width: 1024px) {
      width: 60%;
    }
  }

  &__header {
    background-color: $teal;
    padding: 5px;
  }

  &__header > p {
    color: #ffffff;
    font-size: 1.5rem;
    margin: auto;
  }

  &__header > p > span {
    margin-right: 10px;
    font-size: 2rem;
  }

  &__time > p > span {
    margin-right: 10px;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
  }
}

.add {
  position: fixed;
  right:50px;
  bottom:80px;
  transition:1s;
  opacity:0.7;

  > .MuiButtonBase-root {
    background-color: #d3d3d3 !important;
  }

  @media (min-width: 1024px) {
    right:500px;
  }
}

.footer {
  @media (min-width: 1024px) {
    width: 60vw;
  }

  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1;
}


.MuiBottomNavigation-root  {
  background-color: $teal !important;
}

.MuiToolbar-root {
  background-color: $teal !important;
}

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

.is_active {
  background-color: rgba(0, 0, 0, 0.20) !important;
  height: 100%;
}